

.navbar {
	/*background-color: #0072CE;*/
}

.navbar-toggler {
	/*margin-right: 3rem;*/
}
.navbar-toggler-icon {
	/*font-size: 2.25rem;*/
}
.nav-icon {
	/*font-size: 3rem;*/
	margin-right: 2rem;
}

.navbar-brand {

}

#logo {
	width: 5rem;
}

#updated {
	font-size: 2vh;
}

#article {
	border: 1px solid lightgray;
}

.like {
	border: 1px solid #18549B;
	font-size: 2rem;
	color: #18549B;
}

.content {
	font-size: 2vh;
}

.article-title {
	font-family: 'Lora', serif;
	font-size: 4vh;
}

.title {
	font-family: 'Lora', serif;
	font-size: 3vh;
}

.fa-mail-bulk {
	font-size: 6vh;
}

#signup {
	border: 1px solid #18549B;
	font-size: 3vh;
	color: #18549B;
}

.card-header {
	background-color: #0072CE !important;
}

footer {
	color: white;
	background-color: #0072CE;
}

.copyright {
	background-color: black;
	color: white;
}

.fab {
	color: white;
}

.list-links {
	color: white;
}

footer a {
	color: white;
}

footer {
	padding-top: 1rem;
}