

.navbar-lg {
	/*background-color: #0072CE;*/
	color: white;
	background: #3a7bd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3a7bd5, #18549B);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3a7bd5, #18549B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	border-bottom: 5px solid #FEDB01;
}

#input {
	background-color: rgba(255,255,255, 0.2);
}

.navbar-sm {
	background-color: #18549B;
}
.navbar-toggler-icon {
	/*font-size: 2.25rem;*/
}
.nav-icon {
	/*font-size: 3rem;*/
	margin-right: 2rem;
}

#yellow {
	background-color: #FEDB01;
	color: black;
}

.bottom-link {
	margin-right: 2rem;
	color: white;
}

.lgnav-icon {
	margin-right: 1rem;
}

.lg-link {
	margin-left: 1rem;
}

.navbar-brand {

}

#logo {
	width: 5rem;
}

#updated {
	font-size: 2vh;
}

#article {
	border: 1px solid lightgray;
}

.like {
	border: 1px solid #18549B;
	font-size: 2vh;
	color: #18549B;
}

.content {
	font-size: 2vh;
}

.article-title {
	font-family: 'Lora', serif;
	font-size: 4vh;
}

.title {
	font-family: 'Lora', serif;
	font-size: 3vh;
	margin-bottom: 2rem;
}

#media {
	color: black !important;
}

.fa-mail-bulk {
	font-size: 6vh;
}

#signup {
	border: 1px solid #18549B;
	font-size: 3vh;
	color: #18549B;
}

.card-header {
	background-color: #0072CE !important;
}

footer {
	color: white;
	background-color: #0072CE;
}

.copyright {
	background-color: black;
	color: white;
}

.fab {
	color: white;
}

.list-links {
	color: white;
}

footer a {
	color: white;
}

footer {
	padding-top: 1rem;
}

select {
	border: none;
}