

.navbar {
	background-color: #0072CE;
	height: 15rem;
}

.navbar-toggler {
	margin-right: 3rem;
}
.navbar-toggler-icon {
	font-size: 2.25rem;
}
.nav-icon {
	font-size: 3rem;
	margin-right: 2rem;
}

#article {
	border: 1px solid lightgray;
	font-size: 3rem;
}

.like {
	border: 1px solid #18549B;
	font-size: 2rem;
	color: #18549B;
}

.content {
	font-size: 2.5rem;
}

.title {
	font-family: 'Lora', serif;
	font-size: 3rem;
}

.fa-mail-bulk {
	font-size: 10rem;
}

#signup {
	border: 1px solid #18549B;
	font-size: 3rem;
	color: #18549B;
}

.card-header {
	background-color: #0072CE !important;
}

footer {
	color: white;
	background-color: #0072CE;
}